<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="me.yihtseu.jishi">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
            android:name="me.yihtseu.jishi.MainApplication"
            android:directBootAware="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.JiShi"
            tools:node="merge">

        <activity
                android:name="me.yihtseu.jishi.MainActivity"
                android:exported="true"
                android:theme="@style/Theme.JiShi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="me.yihtseu.jishi.PushService"
                 android:exported="false"/>

        <meta-data
                android:name="androidx.lifecycle.ViewModelStoreOwner"
                android:value="androidx.lifecycle.ViewModelStoreOwner"/>
        <meta-data
                android:name=" androidx.lifecycle.ProcessLifecycleOwnerInitializer"
                android:value="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
    </application>

</manifest>